$primary-color: #000000;
$secondary-color: #00ffff;

.hi{
    background-color: $secondary-color;
    display: flex;
    padding: 30px;
    flex-shrink:initial;
    color: $primary-color;
    margin-top: 10px;
}